.container {
    margin: 15px;
    .standing {
        box-shadow: 0px 0px 10px 1px #999;
        .team:nth-child(-n+12) {
            color: #009900;   
        }
        .team:nth-child(-n+6) {
            color: #00bbbb;   
        }
        .team:nth-child(-n+4) {
            color: blue;   
        }
    
        .team:nth-last-child(-n+4) {
            color: #aa0000;
        }
    }
    
    .searchbar {
        width: 100%;
        border: none;
        margin-bottom: 16px;
        background-color:#dedede;
        padding: 8px 0px 8px 80px;
        font-size: 1.3rem;
        font-weight: 700;
        box-sizing: border-box;
        color: #333;
        border-radius: 50px;
        transition: all .2s ease-out;
        &:focus {
            box-shadow: 0px 0px 5px 0px #000;
        }
    }
}